{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans %}Team{% endtrans %}</h1>
    </div>
  </div>
  <div class="container" x-data="TeamShowDown" x-ref="scoregraph" :class="{'d-none': !show}">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <p class="h2">{% trans %}Welcome to{% endtrans %} {{ Configs.ctf_name }}!</p>
        <p>
          {% trans %}In order to participate you must either join or create a team.{% endtrans %}
        </p>
      </div>
    </div>
   
    {% if get_config("team_creation", default=False) == True %}
    <div class="row">
      <div class="mt-3 col-sm-4 col-md-3 offset-sm-2 offset-md-3 text-center">
        <a class="btn btn-primary w-100" href="{{ url_for('teams.join') }}">{% trans %}Join Team{% endtrans %}</a>
      </div>
      
      <div class="mt-3 col-sm-4 col-md-3 text-center">
        <a class="btn btn-primary w-100" href="{{ url_for('teams.new') }}">{% trans %}Create Team{% endtrans %}</a>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="mt-3 col-sm-4 col-md-3 mx-auto text-center">
        <a class="btn btn-primary w-100" href="{{ url_for('teams.join') }}">{% trans %}Join Team{% endtrans %}</a>
      </div>
    </div>
    {% endif %}

    <hr>
  <div class="row col-md-6 offset-md-3 text-center"  x-data="TeamShowDown" x-ref="scoregraph" :class="{'d-none': !show}">
    <div class="col-md-12" >
      <table class="table table-striped teams-show-down" >
        <thead>
        <tr>
          <td ><b>{% trans %}Color{% endtrans %}</b></td>
          <td ><b>{% trans %}Team{% endtrans %}</b></td>
          <td class="d-none d-md-table-cell"><b>{% trans %}Participants{% endtrans %}</b></td>
      
        </tr>
        </thead>
        <tbody class="table table-striped " >
          <template x-for="(team, index) in teams">
            <tr >
              <td class="team-id text-center" x-data="{ bcolor: team.color}" :style="`display:flex;justify-content: center;`">
                
                <b class="team-id text-center w-100"  :style="`margin: 10% !important;display:block;background-color: ${bcolor} !important;width:10% !important;border-radius: 100%;`"></b>
               
              </td>
              
              <td >
                <b  x-text="team.name"></b>
              </td>

              <td  >
                <b  x-text="team.members.length"></b>
              </td>
            </tr>
          </template>
        
          
          
        

        </tbody>
      </table>
    </div>
  </div>
   

    
  

    
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/teams/list.js") }}
{% endblock %}