{% with form = Forms.awards.AwardCreationForm() %}
<form id="user-award-form" method="POST">
	<div class="form-group">
		<b>{{ form.name.label }}</b>
		{{ form.name(class="form-control", id="award-name-input") }}
	</div>
	<div class="form-group">
		<b>{{ form.value.label }}</b>
		{{ form.value(class="form-control", id="award-value-input") }}
	</div>

	<div id="results">
	</div>
	<div class="modal-footer">
		{{ form.submit(id="award-create-button", class="btn btn-primary") }}
	</div>
</form>
{% endwith %}