{% with form = Forms.teams.TeamCreateForm() %}
{% from "admin/macros/forms.html" import render_extra_fields %}
<form id="team-info-create-form" method="POST">
	<div class="form-group">
		{{ form.name.label }}
		{{ form.name(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		{{ form.password.label }}
		{{ form.password(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		{{ form.website.label }}
		<small class="float-right text-muted align-text-bottom">Optional</small>
		{{ form.website(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
		{{ form.country.label }}
		<small class="float-right text-muted align-text-bottom">Optional</small>
		{{ form.country(class="form-control custom-select", autocomplete="off") }}
	</div>

	<div class="form-group">
        {{ form.color.label }}
        <div class="row" style="padding: 15px;">
            <div class="d-inline-block">
				{{ form.color(id="config-color-input") }}
				<div class="btn-group">
					<input type="color" id="config-color-picker" class="pr-1" style="width: 100px; height: 30px;" value="{{ form.color.data }}" @input="setThemeColor">
				</div>
			</div>
        </div>
    </div>

	{{ render_extra_fields(form.extra) }}

	

	<div class="form-group">
		<div class="form-check form-check-inline">
			{{ form.hidden(class="form-check-input", autocomplete="off") }}
			{{ form.hidden.label(class="form-check-label") }}
		</div>
		<div class="form-check form-check-inline">
			{{ form.banned(class="form-check-input", autocomplete="off") }}
			{{ form.banned.label(class="form-check-label") }}
		</div>
	</div>
	<div id="results">

	</div>
	{{ form.submit(id="update-team", class="btn btn-primary btn-outlined float-right modal-action") }}
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      var colorPicker = document.getElementById('config-color-picker');
      var colorInput = document.getElementById('config-color-input');
      
      colorPicker.addEventListener('input', function () {
        colorInput.value = colorPicker.value;
      });

      // Initialize the color input with the value from the color picker
      colorInput.value = colorPicker.value;
    });
  </script>
{% endwith %}