/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  box-shadow: 3px 3px 3px var(--bs-secondary);
}

.challenge-solved {
  opacity: 0.6 !important;
  border: none;
}

.challenge-submited {
  opacity: 0.6 !important;
  border: none;
}

.en-validation-tag{
  display: block;
  color: #fff;
  background-color: #f39c12;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-top: 0.5em;
  text-align: center;
}
.solved-tag{
  display: block;
  color: #fff;
  background-color: #37d63e;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  margin-top: 0.5em;
  text-align: center;
}