<div role="tabpanel" class="tab-pane config-section" id="logo">
	

	<form id="ctf-small-icon-upload" class="form-upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="small_icon">
				Tab Icon
				<small class="form-text text-muted">
					Used as the <a href='https://en.wikipedia.org/wiki/Favicon' target='_blank'>favicon</a>. Only PNGs accepted. Must be 32x32px.
				</small>
			</label>

			{% if ctf_small_icon %}
				<div class="d-block py-3">
					<img id="ctf_small_icon_preview" class="img-responsive ctf_small_icon"
						 src="{{ url_for('views.files', path=ctf_small_icon) }}"
						 height="32">
					<button type="button" id="remove-small-icon" class="btn-sm btn-danger">
						Remove Icon
					</button>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-md-9">
					<input class="form-control-file" id="ctf_small_icon_file" name='file' type='file' accept=".png" placeholder="Small Icon">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="d-inline-block float-right">
							<button type="submit" class="btn-sm btn-primary float-right">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	
	<form id="banner-upload" class="form-upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="banner">
				Banner
				<small class="form-text text-muted">
					Banner to use for the main page.
				</small>
			</label>

			{% if ctf_banner %}
				<div class="d-block py-3">
					<img id="ctf_banner_preview" class="img-responsive ctf_banner"
						 src="{{ url_for('views.files', path=ctf_banner) }}"
						 height="80">
					<button type="button" id="remove-banner" class="btn-sm btn-danger">
						Remove Icon
					</button>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-md-9">
					<input class="form-control-file" id="ctf_banner_file" name='file' accept="image/*" type='file' placeholder="CTF Banner">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="d-inline-block float-right">
							<button type="submit" class="btn-sm btn-primary float-right">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form id="Sponsord1-upload" class="form-upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="ctf_Sponsord1">
				Sponsord1
				<small class="form-text text-muted">
					Logo to use for Sponsord #1.
				</small>
			</label>

			{% if ctf_sponsord1 %}
				<div class="d-block py-3">
					<img id="ctf_sponsord1_preview" class="img-responsive ctf_logo"
						 src="{{ url_for('views.files', path=ctf_sponsord1) }}"
						 height="80">
					<button type="button" id="remove-Sponsord1" class="btn-sm btn-danger">
						Remove Sponsord1
					</button>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-md-9">
					<input class="form-control-file" id="ctf_sponsord1" name='file' type='file' accept="image/*" placeholder="CTF Logo">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="d-inline-block float-right">
							<button type="submit" class="btn-sm btn-primary float-right">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form id="Sponsord2-upload" class="form-upload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<label for="ctf_sponsord2">
				Sponsord2
				<small class="form-text text-muted">
					Logo to use for Sponsord #2.
				</small>
			</label>

			{% if ctf_sponsord2 %}
				<div class="d-block py-3">
					<img id="ctf_sponsord2_preview" class="img-responsive ctf_logo"
						 src="{{ url_for('views.files', path=ctf_sponsord2) }}"
						 height="80">
					<button type="button" id="remove-Sponsord2" class="btn-sm btn-danger">
						Remove Sponsord2
					</button>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-md-9">
					<input class="form-control-file" id="ctf_sponsord2" name='file' type='file' accept="image/*" placeholder="CTF Logo">
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<div class="d-inline-block float-right">
							<button type="submit" class="btn-sm btn-primary float-right">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
