{% extends "admin/base.html" %}

{% block stylesheets %}
	{{ Assets.css("assets/css/challenge-board.scss", theme="admin") }}
{% endblock %}


{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Challenges
			<a class="no-decoration" href="{{ url_for('admin.challenges_new') }}">
				<span role="button" data-toggle="tooltip" title="Create Challenge">
					<i class="btn-fa fas fa-plus-circle"></i>
				</span>
			</a>
		</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% if q and field %}
			<h5 class="text-muted text-center">
				Searching for challenges with <strong>{{ field }}</strong> matching <strong>{{ q }}</strong>
			</h5>
			<h6 class="text-muted text-center pb-3">
				{{ total }} results
			</h6>
			{% endif %}

			{% with form = Forms.challenges.ChallengeSearchForm(field=field, q=q) %}
			<form method="GET" class="form-inline">
				<div class="form-group col-md-2">
					{{ form.field(class="form-control custom-select w-100") }}
				</div>
				<div class="form-group col-md-8">
					{{ form.q(class="form-control w-100", placeholder="Search for matching challenge") }}
				</div>
				<div class="form-group col-md-2">
					<button type="submit" class="btn btn-primary w-100">
						<i class="fas fa-search" aria-hidden="true"></i>
					</button>
				</div>
			</form>
			{% endwith %}
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class="float-right pb-3">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Edit Challenges" id="challenges-edit-button">
						<i class="btn-fa fas fa-pencil-alt"></i>
					</button>
					<button type="button" class="btn btn-outline-danger" data-toggle="tooltip" title="Delete Challenges" id="challenges-delete-button">
						<i class="btn-fa fas fa-trash-alt"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 table-responsive">
			<div>
				<table id="challenges" class="table table-striped border">
					<thead>
					<tr>
						<td class="d-block border-right border-bottom text-center" data-checkbox>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" autocomplete="off" data-checkbox-all>&nbsp;
							</div>
						</td>
						<th class="sort-col text-center"><b>ID</b></th>
						<th class="sort-col"><b>Name</b></th>
						<th class="sort-col"><b>Category</b></th>
						<th class="sort-col"><b>Value</b></th>
						<th class="sort-col text-center"><b>Type</b></th>
						<th class="sort-col text-center"><b>State</b></th>
						<th class="sort-col text-center"><b>Thumbnail</b></th>
					</tr>
					</thead>
					<script>
						document.categories = {};
						document.lastCategorie = "Chose a faire...";
					</script>
					<tbody>
					{% for challenge in challenges %}
						
						<script>
							document.categories["{{challenge.category}}"] = true;
							document.lastCategorie = "{{challenge.category}}";
						</script>
						<tr data-href="{{ url_for('admin.challenges_detail', challenge_id=challenge.id) }}">
							<td class="d-block border-right text-center" data-checkbox>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" value="{{ challenge.id }}" autocomplete="off" data-challenge-id="{{ challenge.id }}">&nbsp;
								</div>
							</td>
							<td class="text-center id">{{ challenge.id }}</td>
							<td><a href="{{ url_for('admin.challenges_detail', challenge_id=challenge.id) }}">{{ challenge.name }}</a></td>
							<td>{{ challenge.category }}</td>
							<td class="text-center">{{ challenge.value }}</td>
							<td class="text-center">{{ challenge.type }}</td>
							<td class="text-center">
								{% set badge_state = 'badge-danger' if challenge.state == 'hidden' else 'badge-success' %}
								<span class="badge {{ badge_state }}">{{ challenge.state }}</span>
							</td>
							{% if challenge.thumbsnail %}
							<td><img src="{{ challenge.thumbsnail }}" alt="thumbsnail" class="img-thumbnail" style="width: 100px; height: 100px;"></td>
							{% endif %}
						</tr>
					{% endfor %}
						<style>
							.editable {
								cursor: pointer;
								border: 1px solid #ccc;
								padding: 5px;
							}
							.input-field {
								width: 100%;
								box-sizing: border-box;
							}
							input {
								width: 100%;
							}
							.text-center[data-editable="visibility"] {
								min-width: 120px; /* Adjust this value according to your needs */
								width: auto; /* Allow the cell to adapt dynamically to content size */
							}
							.text-center[data-editable="type"] {
								min-width: 130px; /* Adjust this value according to your needs */
								width: auto; /* Allow the cell to adapt dynamically to content size */
							}
							.text-center[data-editable="category"] {
								min-width: 150px; /* Adjust this value according to your needs */
								width: auto; /* Allow the cell to adapt dynamically to content size */
							}
						</style>
							<tr data-href="">
								<form method="POST" enctype="multipart/form-data" id="challenge-create-options-quick" action="/admin/challenges">
									<td class="d-block border-right text-center" data-checkbox>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" value="0" autocomplete="off" data-challenge-id="0">&nbsp;
										</div>
									</td>
									<td class="text-center" id="challenge_id_texte">ID</td>
									<td class="editable" data-editable="name">
										<input class="form-text-input" name="name"></input>
									</td>
									<td class="editable text-center" data-editable="category">
										<select class="form-control custom-select" id="categories-selector" name="category">
											<!-- Existing categories will be dynamically added here by JavaScript -->
										</select>
										<input type="text" class="form-control mt-2" id="categories-selector-input" placeholder="Type new category"></input>
									</td>
									<td class="editable text-center" data-editable="value">
										<input class="form-text-input" name="value"></input>
									</td>
									<td class="editable text-center" data-editable="type">
										<select class="form-control custom-select" name="type" id="challenge-type">
											<option value="manual" selected="">manual</option>
											<option value="manualRecursive">manualRecursive</option>
											<option value="standard">standard</option>
										</select>
									</td>
									<td class="text-center" data-editable="visibility">
										<select class="form-control custom-select" name="state">
											<option value="visible" selected>visible</option>
											<option value="hidden">hidden</option>
										</select>	
									</td>
									<input type="hidden" name="flag_type" value="static"></input>
									<input id="challenge_id" type="hidden" name="challenge_id"></input>
									<!-- <input type="file" id="thumbsnail-input" class="form-control-file" accept="image/*" style="display: none;"> -->
									<input type="hidden" name="thumbsnail" id="thumbsnail-path" form="challenge-create-options-quick"></input>
									
									<!-- <div class="form-group"> -->
									<button class="btn btn-primary float-right create-challenge-submit" id="submit-button" type="submit">Add challenge</button>
									<!-- </div> -->
								</form>
								<form id="thumbsnail-upload-form" class="form-upload" method="POST" enctype="multipart/form-data"></form>
									<td class="editable" data-editable="thumbsnail" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
										<button id="btn-file-input" class="btn btn-secondary" type="button">Select File</button>
										<img id="image-preview" style="display: none; width: 100px; height: 100px; margin-top: 10px;">
										<!-- <input style='visibility:hidden;' type='file' id='asd'/>
										<button id='trigger' type="button">trigger file input</button> -->
									</td>
									<input class="form-control-file" id="thumbsnail-get-path" name='file' type='file' accept="image/*" style="display: none;">
								</form>
								<!-- <td class="editable" data-editable="thumbsnail" style="display: flex; justify-content: center; flex-wrap: wrap; align-items: center;">
									<button name="thumbsnail" id="trigger-file-input" class="btn btn-secondary">Select File</button>
									<img id="image-preview" style="display: none; width: 100px; height: 100px; margin-top: 10px;">
									<input type="file" id="file-input" name="thumbsnail">
									<button id="trigger-file-input" class="btn btn-secondary" @click="document.getElementById('file-input').click();">Select File</button>
								</td> -->
								<!-- <input type="file" class="form-control-file" id="file-input"></input> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block entrypoint %}
	{{ Assets.js("assets/js/pages/challenges.js", theme="admin") }}
	{{ Assets.js("assets/js/pages/challenge.js", theme="admin") }}
{% endblock %}
