{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>
        {% trans %}Créer un compte{% endtrans %}
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% include "components/errors.html" %}

        {% with form = Forms.auth.RegistrationForm() %}

          {% from "macros/forms.html" import render_extra_fields %}

          <form method="post" accept-charset="utf-8" autocomplete="off" role="form">

            <div class="mb-3">
              <b>{{ form.name.label(class="form-label") }}</b>
              {{ form.name(class="form-control", value=name, autocapitalize="none") }}
              <small class="form-text text-muted">
                {% trans %}Votre nom d'utilisateur{% endtrans %}
              </small>
            </div>

            <div class="mb-3">
              <b>{{ form.email.label(class="form-label") }}</b>
              {{ form.email(class="form-control", value=email) }}
              <small class="form-text text-muted">
                {% trans %}Votre courriel restera privé{% endtrans %}
              </small>
            </div>

            <div class="mb-3">
              <b>{{ form.password.label(class="form-label") }}</b>
              {{ form.password(class="form-control", value=password) }}
              <small class="form-text text-muted">
                {% trans %}Mot de passe utilisé pour se connecter à votre compte{% endtrans %}
              </small>
            </div>

            <div class="mb-3">
              <b style="color: red;">Toutes données (courriel, téléphone, photos et vidéos) utilisées durant la scav seront détruites à la fin de l'événement. Amusez-vous bien!</b>
              
            </div>
            {{ form.nonce() }}

            {{ render_extra_fields(form.extra) }}

            <div class="row pt-3">
              <div class="col-6 col-md-4 offset-6 offset-md-8">
                {{ form.submit(class="btn btn-block btn-primary w-100") }}
              </div>
            </div>

            {% if Configs.tos_or_privacy %}
              <div class="row pt-3">
                <div class="col-md-12 text-center">
                  <small class="text-muted text-center">
                    {% trans trimmed privacy_link=Configs.privacy_link, tos_link=Configs.tos_link %}
                    En créant votre compte, vous acceptez la
                    <a href="{{ privacy_link }}" target="_blank">politique de confidentialité</a>
                    et les <a href="{{ tos_link }}" target="_blank">conditions d'utilisation</a>
                    {% endtrans %}
                  </small>
                </div>
              </div>
            {% endif %}
          </form>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
