{% extends "base.html" %}

{% block content %}
  <div class="jumbotron" style="padding: 1rem 1rem;">
    {% if Configs.ctf_banner %}
    <img class="mx-auto d-block" style="width: auto;padding-bottom: 25px;max-height: 20vw;" src="{{ url_for('views.files', path=Configs.ctf_banner) }}" />
    {% endif %}
    <div class="container">
      <h1>
        {% trans %}Scoreboard{% endtrans %}
      </h1>
      <p class="ctfd-event-countdown">&nbsp;</p>
    </div>
    {% if Configs.ctf_description %}
    <div class="container" style="padding-top: 10px;">
      {{ Configs.ctf_description }}
    </div>
    {% endif %}
  </div>
  
  <div class="container">
    {% include "components/errors.html" %}

    <div id="score-graph" class="align-items-center"  :class="{'d-flex': show, 'd-none': !show}" x-data="ScoreboardDetail" x-ref="scoregraph">
      <div class="col-md-12 text-center">
        <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
      </div>
    </div>
    
    <div id="scoreboard" class="row" x-data="ScoreboardList">
      
        <template x-if="brackets.length && standings.length">
          <div class="col-md-12 py-3">
            <nav class="nav nav-pills nav-fill">
              <button :class="{'nav-link': true, 'active': !activeBracket}" @click="activeBracket=null">{% trans %}All{% endtrans %}</button>
              <template x-for="bracket in brackets">
                <button :class="{'nav-link': true, 'active': activeBracket == bracket.id}" x-text="bracket.name" @click="activeBracket=bracket.id"></button>
              </template>
            </nav>
          </div>
        </template>

        <div class="col-md-12" x-show="standings.length">
          <div style="display:grid;grid-template-columns: 45% 45%;column-gap: 10%;row-gap: 20px;width: 100%; max-height: 100%; justify-content: center;">
              <tbody id="challengeRecap">
                <template x-for="(standing, index) in standings.filter(i => activeBracket ? i.bracket_id==activeBracket : true)" >
                  <tr  :id="standing.provided" x-data="{id: standing.provided, team_id: standing.team_id, challenge_id: standing.challenge_id, type:standing.type, color:standing.color}" :style="`background-color: ${color} !important;display:flex; width:100%;max-width:200px; height:fit-content;flex-direction: column;border-radius: 7%;grid-row-start: ${index+1};
                  grid-row-end: ${index+3};`">
                    <th class="header" style="display: flex;justify-content: space-between;text-align: center;align-items: center;">
                      <p style="font-size: 12px;width: 40%;height: 0px;text-align: start;padding-left: 5px;font-family: Raleway,sans-serif;" x-text="standing.time"></p>
                      <div  :style="`background-color: ${color};width: 45px;height: 45px;margin: -45px;border-radius: 100%;left: 30%; z-index: 1;`">
                        <b style="position: relative;top: 25%;width: 100%;height: 100%;font-family: Raleway,sans-serif;color: white;font-weight:bolder;" x-text="standing.value"></b>
                      </div>
                      <div style="width: 40%;text-align: end;">
                        <p style="font-size: 10px;font-family: Raleway, sans-serif;text-overflow: ellipsis;height: 0px;font-weight:bolder; " x-text="">aaaaaaaaaa</p>
                      </div>
                      
                    </th>
                    <th class="content" style="align-items: center;min-width: 100%;"><td style="align-items: center;min-width: fit-content;" x-text=" " x-data="LogImage" class="imageContainer"></td></th>
                    <th class="header" style="display: flex;min-width: 100%;font-family: Raleway, sans-serif;align-items: center;"><p style="font-size: 15px;font-family: Raleway, sans-serif;font-weight:bolder;text-align: center;width: 100%;" x-text="standing.challenge_name"></p></th>
                    <!-- 
                    <th scope="row" class="text-center" x-text="standing.time"></th>
                    <td style="padding-left: 2% !important;">
                      <div><b><p style="width: 15ch;overflow: hidden;text-overflow: ellipsis;" x-text="'Par: ' + standing.user_name"></p></b>
                        <p></p>
                       <b> <p :href="standing.account_id" style="width: 15ch;overflow: hidden;text-overflow: ellipsis;" x-text="'Dans l\'équipe: '+standing.team_name" ></p></b></div>
                      
                      
                    </td>
                    <td x-text="standing.challenge_name" class="challenge_name"></td>
                    <td class="award-icon" hidden style="width: 100%; height: 104.8px; display: block; position: relative;">
                      <i class="fas fa-trophy" style="color: gold; width: 100%; height: 104.8px; display: flex; justify-content: center; align-items: center;"></i>
                    </td>
                    
                    <td x-data="LogImage" class="imageContainer"></td>
                    <td x-text="standing.value"></td>
                    -->
                  </tr>
                  
                </template>
              </tbody>  
              
          </div>
          <button class="btn btn-primary" id="plus-btn" style="position: relative; bottom: -20px; left: 45%;" @click="showXMore">plus...</button>
          
        </div>
        
      <div class="col-md-12" x-show="! standings.length">
        <h3 class="text-center text-muted">{% trans %}Scoreboard is empty{% endtrans %}</h3>
      </div>
    </div>
    <div ></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/scoreboard.js") }}
{% endblock %}
