@use "bootstrap/scss/bootstrap" as * with (
  $info: #5c728f
);

@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/sticky-footer";
@use "includes/components/graphs";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";

.table>tbody>tr>td {
  padding: 0rem 0rem !important;
}


body {
  background: radial-gradient(white,#fbfaff);
  
  
}

.inSubmission{
  opacity: 0.7;

} 
.potentialscore {
  opacity: 0.7;
  font-size: 1rem !important;
}
#score-graph h1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  color: #141a39;
  text-transform: uppercase;
  cursor: default;
}

#score-graph #leaderboard {
  
  position: relative;
}

#score-graph table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
}

#score-graph tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}


#score-graph tr:nth-child(odd) {
  background-color: #f9f9f9;
}

#score-graph tr:nth-child(2) {
  color: #fff;
}

#score-graph td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 0rem;
  position: relative;
}
#score-graph text {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

#score-graph .number {
  width: 1rem;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

#score-graph .name {
  text-align: left;
  font-size: 1.2rem;
  padding-left: 1rem;
}

#score-graph .points {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#score-graph .points p {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding-top: 1rem;
}

#score-graph .gold-medal {
  height: 3rem;
  margin-left: 25px;
}
#leaderboard .ribbon {

  width: 105%;
  height: 5.5rem;
  top: -0.5rem;
  left: -2.5%;
  background-color: var(--teamColor);
  position: absolute;

  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}
@media only screen and (max-device-width: 767px){
  
  #leaderboard .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.75rem;
    left: 1.20%;
    transform: rotate(45deg);
    background-color: var(--teamColor);
    position: absolute;
    z-index: -1;
   
  }
  
  #leaderboard .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.75rem;
    right: 1.20%;
    transform: rotate(45deg);
    background-color: var(--teamColor);
    position: absolute;
    z-index: -1;
  
  }
}





#countdown li{
  margin: 0 -3px 0 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  font-size: 72px;
  font-size: 6vw;
  text-align: center;
  
  .label {
    color: #adafb2;
    font-size: 18px;
    font-size: 1.5vw;
    text-transform: uppercase;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
h1,
h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  color: #337ab7;
  text-decoration: none !important;
}

blockquote {
  border-left: 4px solid $secondary;
  padding-left: 15px;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-size: 8px 10px;
}

// HMM

.input-filled-valid {
  background-color: transparent !important;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.input-filled-invalid {
  background-color: transparent !important;
  border-color: #d46767;
  box-shadow: 0 0 0 0.1rem #d46767;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.form-control {
  padding: 0.8em !important;
  background: #f0f0f0;
  color: #aaa;
  /* Behavior changed in Bootstrap v4.1.3. See https://github.com/twbs/bootstrap/issues/27629 */
  height: auto !important;
}

.form-control:focus {
  background-color: transparent;
  border-color: #a3d39c;
  box-shadow: 0 0 0 0.1rem #a3d39c;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}
.carousel__navigation-button {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
}

@media (min-width: 960px) {
  .FullSizeCarousel {
    max-width: 50% !important;
    max-height: 800px !important;
    align-self: center;
  }
  .FullSizeCarousel .modal-content {
    max-height: 800px !important;
    align-self: center;
  }
}


.teams-show-down{
  font-family: "Rubik", sans-serif;
}

.landscape {
  
  width: 200px !important;
  height: auto !important;
  max-width: 100% !important;
 
}

.portrait {
  width: auto !important;
  height: 225px !important;

}

.landscape-td {
  width: fit-content !important;
  
}

.portrait-td {
  width: fit-content !important;
  max-width: 50%;
  
}

.splash img{
  position:absolute;
  z-index: 10;
  opacity: 1;
  filter: drop-shadow(10000px 0px 0 var(--teamColor));
  transform: translateX(-10000px);
}

.fa-clock-o:hover p{
  visibility: visible;
}

@media only screen and (max-device-width: 960px){
  .imageShownDown{
    grid-template-columns: 55% 55%;
    column-gap: 2%;
  
    
    
  }
}
@media only screen and (min-device-width: 960px){
  .imageShownDown{
    grid-template-columns: 20% 20%;
    width: 40%;
    column-gap: 0%;
   
  }
}
